<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="header" />

<body>
	<div class="container">
		<div th:include="nav" />

		<div class="row">
			<div class="col s12">
				<h4>Lista de Par&acirc;metros</h4>
				
				<div th:include="search(url='/parametros')" />
				
				<p th:text="${sucesso}" />
				<table class="highlight bordered">
					<thead>
						<tr>
							<th>Chave</th>
							<th>Valor</th>
							<th>Resposta</th>
							<th>Tipo</th>
						</tr>
					</thead>

					<tr th:each="parametro : ${parametros}">
						<td th:text="*{parametro.chave}"></td>
						<td th:text="*{parametro.valor}"></td>
						<td th:text="*{parametro.resposta.nome}"></td>
						<td th:text="*{parametro.parameterType}"></td>
						<td><a th:href="${(#mvc.url('PRC#update')).arg(0, parametro.id).build()}"><i class="tiny material-icons">mode_edit</i></a></td>
						<td th:style="${parametro.ip == null}? 'display:none'"><a th:href="${(#mvc.url('PRC#remove')).arg(0, parametro.id).build()}"><i class="tiny material-icons">delete</i></a></td>
					</tr>
				</table>
				
				<div th:include="pagination(entity=${parametros}, url=${#httpServletRequest.requestURI})" />
			</div>
		</div>

		<!-- div th:include="footer" / -->
	</div>

	<div th:include="scripts" />
	
</body>
</html>