<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="header" />
<head>
<style type="text/css" media="screen">
#editor {
	height: 300px;
}
</style>
</head>


<body>
	<div class="container">
		<div th:include="nav" />

		<div class="row">
			<div class="col s12">
				<form th:action="@{/respostas/gravar}" th:object="${resposta}" method="post">

					<input type="hidden" id="id" th:field="*{id}" />

					<div class="row">
						<div class="input-field col s6">
							<label class="active">Nome</label>
							<input type="text" th:field="*{nome}" />
							<th:erros path="nome" />
						</div>
					</div>

					<div class="row">
						<div class="col s8">
							<label class="active">Mensagem</label>
							<div id="editor"></div>
							<input type="hidden" id="mensagem" th:field="*{mensagem}" />
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<label class="active">Tipo</label>
							<select th:field="*{tipo.id}" class="browser-default">
								<option th:each="tipoVar : ${tipos}" th:value="${tipoVar.id}" th:text="${tipoVar.nome}" />
							</select>

						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<label class="active">Layout</label> 
							<select th:field="*{layout.id}" class="browser-default">
								<option th:each="layout : ${layouts}" th:value="${layout.id}" th:text="${layout.nome}"></option>
							</select>
						</div>
					</div>
					
					<div th:include="list_parameters(respostaId=*{id}, parametros=*{parametros})" />

					<button type="submit" th:style="*{ip == null and id != null}? 'display:none'" class="waves-effect waves-light btn #d32f2f red darken-2">Cadastrar</button>
					<a href="#" class="waves-effect waves-light btn #d32f2f red darken-2" onclick="window.history.go(-1)">Cancelar</a>
				</form>
			
			</div>
			
		</div>

		<!-- div th:include="footer" / -->

		<div th:include="scripts" />

	</div>

	<script type="text/javascript" th:src="@{/ace-builds/src-min-noconflict/ace.js}"></script>
	<script type="text/javascript" th:src="@{/ace-builds/src-min-noconflict/ext-language_tools.js}"></script>

	<script th:inline="javascript">
		var editor = null;
		$(document).ready(function(){
			ace.require("ace/ext/language_tools");
			editor = ace.edit("editor");
			editor.setTheme("ace/theme/monokai");
			editor.getSession().setMode("ace/mode/xml");
			editor.setOptions({
		        enableBasicAutocompletion: true,
		        enableSnippets: true,
		        enableLiveAutocompletion: false
		    });

			editor.setValue([[${resposta.getTextMessage()}]]);

			editor.commands.addCommand({
		        name: "showKeyboardShortcuts",
		        bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
		        exec: function(editor) {
		            ace.config.loadModule("ace/ext/keybinding_menu", function(module) {
		                module.init(editor);
		                editor.showKeyboardShortcuts();
		            })
		        }
		    });
			
			$("button").click(function(){
				$('#mensagem').val(editor.getValue());
		    });
		});
	</script>

</body>
</html>