<div th:fragment="nav">
	<ul id="defaultDropdown" class="dropdown-content">
		<li><a th:href="@{/respostas/default}">Respostas</a></li>
		<li><a th:href="@{/parametros/default}">Par&acirc;metros</a></li>
	</ul>

	<ul id="myDropdown" class="dropdown-content">
		<li><a th:href="@{/respostas}">Respostas</a></li>
		<li><a th:href="@{/parametros}">Par&acirc;metros</a></li>
		<li class="divider"></li>
	</ul>

	<nav>
		<div class="nav-wrapper #d32f2f red darken-2">
			<a href="#!" class="brand-logo"><i class="material-icons">speaker_phone</i>Simulador</a>

			<ul class="right hide-on-med-and-down">
				<li><a class="dropdown-button" href="#!"
					data-activates="defaultDropdown">Padr&atilde;o <i
						class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button" href="#!"
					data-activates="myDropdown">Meus <i
						class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>
</div>